{{#each erros}}

	<div class="alert alert-danger col-6 mx-auto text-center">{{texto}}</div>
{{else}}

{{/each}}

<div class="container my-auto">
	<form
		class="formulario-de-login form-group col-sm-6 mx-auto p-4 py-5 p-sm-5 border bg-white"
		action="/validateLogin" method="POST">
		<h1 class="mb-4">Login</h1>

		<label class="label">Nome completo</label>
		<input
			class="form-control"
			type="text"
			name="nome"
			placeholder="Insira o seu nome completo..."
			required />

		<label class="label mt-2">Senha</label>
		<input
			class="form-control"
			type="password"
			name="senha"
			placeholder="Insira a sua senha..."
			required />

		<fieldset class="row m-0 mt-4 gap-2">
			<button class="btn btn-primary mt-2" type="submit">Entrar</button>
			<span class="mx-auto mt-2 nao-possui-conta col-auto"
				>Não possui uma conta?&nbsp;<a href="/cadastro" class="link _no-dec"
					>Cadastre-se</a
				></span
			>
		</fieldset>
	</form>
</div>
