<div class="container h-100 d-flex flex-column">
	<header class="header">
		<span class="brand">Logado como: </span>
	</header>
	<form
		class="formulario-de-login form-group col-sm-6 m-auto p-4 py-5 p-sm-5 border bg-white"
		action=""
	>
		<h1 class="mb-4 pe-5">Escolha a sua rifa:</h1>

		<div class="numeros">
			<input type="radio" name="numero" class="numero" required /><input
				type="radio"
				name="numero"
				class="numero"
			/><input type="radio" name="numero" class="numero" /><input
				type="radio"
				name="numero"
				class="numero"
			/><input type="radio" name="numero" class="numero" /><input
				type="radio"
				name="numero"
				class="numero"
			/><input type="radio" name="numero" class="numero" />
		</div>

		<fieldset class="row m-0 mt-4 gap-2">
			<button class="btn btn-primary" type="submit">Selecionar</button>
		</fieldset>
	</form>
</div>